:root {
	--nutmeg: hsl(14, 45%, 36%);
	--dark-raspberry: hsl(332, 51%, 32%);
	--rose-white: hsl(330, 100%, 98%);
	--eggshell: hsl(30, 54%, 90%);
	--light-grey: hsl(30, 18%, 87%);
	--wenge-brown: hsl(30, 10%, 34%);
	--dark-charcoal: hsl(24, 5%, 18%);
	--p-container: 15px
}

@font-face {
	font-family: "Young Serif";
	src: url(/public/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
	font-family: "Outfit";
	src: url(/public/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

.App {
	text-align: left;
	color: var(--dark-charcoal);
	line-height: 1.5rem;
}

.App-header {
	background-color: var(--eggshell);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	font-family: "Outfit";
}

.recipe-container {
	margin: 10px;
	padding: var(--p-container);
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	overflow: hidden;
}

.recipe-image {
	width: calc(100% + 2 * var(--p-container));
	margin: calc(var(--p-container) * -1);
}

h1 {
	font-family: "Young Serif";
	line-height: 2.5rem;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-family: "Young Serif";
	color: var(--wenge-brown);
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding: 0px;
}

.preparation-box {
	background-color: var(--rose-white);
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 10px;
}

.preparation-title {
	color: var(--dark-raspberry);
	margin: 0px;
	margin-bottom: 5px;
}

.times-cluster {
	display: grid;
	gap: 2px 30px;
	grid-auto-flow: row;
	justify-content: center;
	grid-template-columns: auto auto;
}

.minutes {
	text-align: right;
}

.ingredients-wrap {
	display: grid;
	padding-left: 50px;
	grid-template-columns: 15% auto;
	gap: 1px 10px;
	justify-content: left;
}

.quantity {
	text-align: right;
	max-width: fit-content;
}

.optional-fillings {
	grid-column-start: span 2;
	margin-top: 10px;
}

.optional-ingredients {
	grid-column-start: 2;
}